@media (max-width: 768px) {
  body {
    font-size: 12px;
    background-size: cover;
  }

  .skill-box,
  .start-button {
    width: 90% !important;
    font-size: 10px;
  }

  .arrow {
    font-size: 30px;
  }

  .cat-img {
    width: 100px !important;
    left: 60% !important;
    top: 70% !important;
    padding: 0 !important;
  }

  .levels {
    right: 10px !important;
    font-size: 10px;
  }

  h1, h2 {
    font-size: 14px;
    padding-top: 20%;
  }
}
