body {
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  background: url('pics/origbig.png') no-repeat center center;
  background-size: cover;
  background-position: center;
  color: rgb(0, 0, 0);
}

.container {
  text-align: center;
  padding: 40px;
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  font-size: 20px;
  margin-bottom: 50px;
}

.highlight {
  color: #000000;
  
}

.profile-img {
  width:  165px;
  height: 190px;
  border-radius: 50%;
  border: 4px solid #000000;
  margin: 20px 0;
}

.description {
  font-size: 12.5px;
  line-height: 2;
  max-width: 600px;
  margin: 0 auto 40px auto;
}

.next-level {
  position: relative;
  display: inline-block;
}
@media (max-width: 768px) {
  body {
    font-size: 12px;
    background-size: cover;
  }

  .skill-box,
  .start-button {
    width: 90% !important;
    font-size: 10px;
  }

  .arrow {
    font-size: 30px;
  }

  .cat-img {
    width: 100px !important;
    left: 60% !important;
    top: 70% !important;
    padding: 0 !important;
  }

  .levels {
    right: 10px !important;
    font-size: 10px;
  }

  h1, h2 {
    font-size: 14px;
    padding-top: 20%;
  }
}




